<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assisment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css"/>
</head>
<body>
    <section class="container" id="navbar">
        <header class="header">
            <ul class="ul">
                <Li><a><img src="instagram.png" width="20px"/></a></Li>
                <Li><a><img src="twitter.png" width="20px"/></a></Li>
                <Li><a><img src="youtube.png" width="20px"/></a></Li>
                <Li><a><img src="facebook.png" width="20px"/></a></Li>
            </ul>
        </header>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand mr-auto font-weight-bold text-uppercase" href="#">softicloud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#product">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="#contact">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="home my-5" id="home">
        <div class="container">
            <div class="row my-5">
                <div class="col-md-6 col-lg-6 my-auto">
                    <h1 class="font-weight-normal">Top deals on Tissues <br/><b>Get Upto 40% Off </b></h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequatur aliquid nihil aliquam alias corporis,
                         dolorum soluta omnis voluptatum dolor a exercitationem quo, officia magni ratione? Odit culpa ex natus.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img class="img-fluid rounded "  src="ts.jpg"/>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutUs my-5" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img src="kn.JPG" class="img-fluid rounded" />
                </div>
                <div class="col-md-6 col-lg-6 my-auto">
                    <h1> We make best tissues</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis i
                        ste quibusdam incidunt, ab corporis maxime praesentium consequatur soluta, fac
                        ere, consectetur placeat ullam. Consequatur labore, dolorum facilis ipsa aliquam
                         voluptas assumenda!</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="products my-5" id="product">
        <div class="container">
            <div class="box">
                <button id="left" class="btn-arrow">prev</button>
                <div class="carousel-imgs">
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                    <img  src="./7560264.jpg" class="img"/>
                </div>
                <button id="right" class="btn-arrow">next</button>
            </div>
        </div>
    </section>

    <section class="testimonials my-5" id="testimonials">
        <div class="container my-5">
            <h1>Testimonials</h1>
            <div class="row shadow  bg-light p-5">
                <div class="col-md col-lg-4 p-3">
                    <img src="kn.JPG" class="img-fluid rounded rounded-circle"/>
                </div>
                <div class="col-md col-lg-7 my-auto">
                    <div >
                        <h3 class="text-start">Yama kalyan</h3>
                        <div class="flex-row">
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, dicta pariatur!
                         Eius sint, nisi odio unde atque repellendus, hic 
                         quas ipsa corrupti, veritatis soluta tempora molestiae
                Cumque a consequuntur accusamus.</p>
                </div>
                <div class="col-md col-lg-1">
                    <ul class="testimonials-pics">
                        <li>
                            <img src="kn.JPG" class="my-2 rounded rounded-circle" width="60px"/>
                        </li>
                        <li>
                            <img src="kn.JPG" class="my-2 rounded rounded-circle" width="50px"/>
                        </li>
                        <li>
                            <img src="kn.JPG" class="my-2 rounded rounded-circle" width="40px"/>
                        </li>
                        <li>
                            <img src="kn.JPG" class="my-2 rounded rounded-circle" width="30px"/>
                        </li>
                        <li class="pics-line">
                            <p class="line">l</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="contact my-5" id="contact">
        <div class="container ">
            <div class="row my-5">
                <div class="col-md col-lg-7">
                    <h3>Contact us</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur 
                         corrupti minima, voluptatibus mollitia aliquam, facere repellat optio 
                         tempora provident laudantium ab.</p><br/>
                    <h6 class="text-success">Call us at</h6>
                    <h5><b>+91 9550049382</b></h5>
                    <h5><b>+91 9550049382</b></h5><br/>
                    <h6 class="text-success">Our email</h6>
                    <h6><b>yamakalyan6@gmail.com</b></h6>
                </div>
                <div class="col-md col-lg-5 my-auto">
                    <form>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>First name</label>
                            <input type="email" class="form-control" placeholder="First name"/>
                          </div>
                          <div class="form-group col-md-6">
                            <label>Last name</label>
                            <input type="password" class="form-control" placeholder="Last name"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <input type="text" class="form-control" placeholder="Enter Email"/>
                        </div>
                        <div class="form-group">
                          <label>What Can we help You With ?</label>
                          <input type="text" class="form-control" placeholder="write your need"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md col-lg-6 my-auto">
                    <img src="ts.jpg" class="my-2 rounded " width="120px"/><br/>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit
                        . Fugit labore enim eaque! Officia obcaecati aspernatur dolores quas 
                        in sunt necessitatibus quos pariatur, minus eveniet esse adipisci. 
                        Saepe quibusdam voluptatum eos.</p>
                </div>
                <div class="col-md col-lg-4 mx-auto">
                    <img src="ts.jpg" class="img-fluid" />
                </div>
            </div>
            <div  class="row">
                <div class="col-md col-lg-6 my-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Subscribe To Our Newsletter"/>
                        <div class="input-group-append">
                          <button class="btn btn-light " type="button">Subscribe</button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md col-lg-4">
                    <ul class="ul-quicklinks">
                        <h3>Quick links</h3>
                        <li>Home</li>
                        <li>Products</li>
                        <li>Privacy</li>
                        <li>Privacy</li>
                    </ul>
                </div>
                <div class="col-md col-lg-4">
                    <ul class="ul-contact">
                        <h3>Contact</h3>
                        <li>call us at</li>
                        <li>+91 9550049382</li>
                        <li>+91 9550049382</li>
                        <li>our email</li>
                        <li>yamakalyan6@gmail.com</li>
                    </ul>
                </div>
                <div class="col-md col-lg-4">
                    <h3 class="ml-5">Follow us</h3>
                    <span class="mx-3"><a><img src="instagram.png" width="20px"/></a></span>
                    <span class="mx-3"><a><img src="twitter.png" width="20px"/></a></span>
                    <span class="mx-3"><a><img src="youtube.png" width="20px"/></a></span>
                    <span class="mx-3"><a><img src="facebook.png" width="20px"/></a></span>
                </div>
            </div>
        
        </div>
    </section>

    <section class="container">
        <div class="bottom">
            <div class="left">
                <h6 >@copyright SOFTICLOUD</h6>
            </div>
            <div class="right">
                <h6 >Designed and Developed by Yama Kalyan</h6>
            </div>
        </div>
    </section>

</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script>
   const carousel = document.querySelector(".carousel-imgs")
   buttonIcons = document.querySelectorAll(".box .btn-arrow")
   firstImg = document.querySelectorAll(".carousel-imgs img")[0]

   let isStart = false, prevPage, prevScrollLeft

   let firstImgWidth = firstImg.clientWidth + 25;


   buttonIcons.forEach(icons => {
    icons.addEventListener("click", ()=>{
        if (icons.id == "left") {
            carousel.scrollLeft -= firstImgWidth
        } else {
            carousel.scrollLeft += firstImgWidth
        }
    })
   });
  
   const dragStart =(e)=>{
    isStart += true
    prevPage = e.pageX
    prevScrollLeft = carousel.scrollLeft
   }
   const dragging = (e)=>{
    if(!dragStart) return;
    e.preventDefault()
    carousel.classList.add("dragging")
    let positionDifferent = e.pageX - prevPage
    carousel.scrollLeft = prevScrollLeft - positionDifferent
   }
   const dragStop =()=>{
    isStart += false
    carousel.classList.remove("dragging")
   }

carousel.addEventListener("mousemove", dragging)
carousel.addEventListener("mousedown", dragStart)
carousel.addEventListener("mouseup", dragStop)
</script>
</html>